/*////////////////////////////
Miscelanious stuff
////////////////////////////*/

.mybtn
{
   width: 75px;
   border: 4px;
   border-style: solid;
   /*padding: 4px 5px 5px 12px;*/
   margin-top: 5px;
   background-color: black;
   text-align: center;
   
}

.mybtn:hover
{
   background-color: white;
   
}

.mybtn a
{
   color: white; 
}

.mybtn a:link
{
   text-decoration:none;
}
.mybtn a:visited
{
   text-decoration:none;
}
.mybtn a:hover
{
   text-decoration:none;
   color: black;
}
.mybtn a:active
{
   text-decoration:none;
}

#forthcoming_events .mybtn
{
   margin-left: 26px;
}


/*////////////////////////////
   Main stuff for the page
/////////////////////////////*/

#mainwrapper
{
  width: 1000px;
  margin: auto;
  border-style: dashed; /*Border should be removed after testing!!!*/
  padding: 23px; /*This is used for testing purposes*/
}

header
{
  border:5px;
  border-style: solid;
  height: 150px;
  margin-bottom: 23px; /*Margin needs to be adjusted after the stylesheet is done*/
}

/*The one that's literally in the middle of the webpages
(that contains other sections and web_comp)*/
.middle-section
{
  border:5px;
  border-style: dotted;
  overflow:auto; 
   /*Fixes the 'overflow' problem 
   when contained elements are 
   taller than the container itself*/
}


/*////////////////////////////
   END OF Main stuff for the page
/////////////////////////////*/
/*////////////////////////////
   Header's contents rules
/////////////////////////////*/
header ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   /*! width: 500px; */
}
header li
{
   float: left;
}
header li a
{
   display:inline-block;
   color:white;
   text-align: center;
   padding: 14px 16px;
   text-decoratioin: none;
}
header li a:hover
{
   background-color: #111;
}

#login-section
{
   float: right;
}

/*////////////////////////////
   END OF Header's contents rules
/////////////////////////////*/

/*////////////////////////////
   Stuff for 'internal' containers 
   within middle section.
////////////////////////////*/

aside /*For forthcoming events section*/
{
/*    border:2px; */
/*    border-style: solid; */
   background-color: rebeccapurple;
/*    width:224px; */
   width: 20%;
   float:left;
}

section /*Stuff that's on the right side of forthcoming events*/
{
/*    border:2px; */
/*    border-style: solid; */
   background-color: yellowgreen;
   float:left;
   width: 80%;
   
}

/*////////////////////////////
   END OF Stuff for 'internal' containers 
   within middle section.
////////////////////////////*/

/*///////////////////////////
   Forthcoming events section's rules
///////////////////////////*/

aside h3 /*header for the whole section*/
{
   padding-left: 23px;
}
/*///////////////////////////
   END OF Forthcoming events section's rules
///////////////////////////*/

/*/////////////////////////
   Search page's result sections
/////////////////////////*/
.eventresult h3
{
   margin-left: 23px;
}
.eventresult .mybtn
{
   margin-left: 23px;
   margin-bottom: 9px;
}
.eventresult ul
{
   list-style-type: none;
   padding-left: 23px;
   
}
.eventresult ul li
{
   padding-left: 0px;
   margin-left: 0;
}
/*/////////////////////////
   END OF Search page's result sections
/////////////////////////*/

/*/////////////////////////
   Category section on the user page
/////////////////////////*/

#tabs-3
{
   overflow: auto;
}

#tabs-3 .category-item
{
   width: 50%;
   float: left;
}

/*/////////////////////////
   END OF Category section on the user page
/////////////////////////*/
